name: Build, Test and Deploy React Application
on:
  # Triggers the workflow on push or pull request events but only for the main branch
  push:
    branches: [main]
  pull_request:
    branches: [main]
# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  build_test:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [18.x] # Node.js version
    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v4
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v2
        with:
          node-version: ${{ matrix.node-version }}
      - name: npm ci and test
        run: |
            cd react_test_app
            npm ci
            npm run jsdoc
            npm run build --if-present
            npm test
      - name: Upload coverage reports to Codecov
        uses: codecov/codecov-action@v3
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          file: ./react_test_app/coverage/clover.xml
      - name: Setup Pages
        id: pages
        uses: actions/configure-pages@v3
      - name: Upload artifact
        uses: actions/upload-pages-artifact@v3
        with:
          # Upload entire repository
          path: react_test_app/build
          if-no-files-found: error
      - name: Authentificate with npm
        run: echo "//registry.npmjs.org/:_authToken=${{secrets.NPM_TOKEN}}" > ~/.npmrc
      - name: check version
        run: |
          cd react_test_app
          LOCAL_VERSION=$(node -p "require('./package.json').version")
          NPM_VERSION=$(npm show @mahautw/react_test_app version)
          if [ "$LOCAL_VERSION" != "$NPM_VERSION" ]; then
            echo "NEW_VERSION=true" >> $GITHUB_ENV 
          else
            echo "NEW_VERSION=false" >> $GITHUB_ENV
          fi
     
           
      - name: build and publish package on NPM 
        if: env.NEW_VERSION == 'true'
        run: |
            cd react_test_app
            git config --global user.email "mwindal@hotmail.com"
            git config --global user.name "Mahaut Windal"
            npm run build-npm
            npm publish
        env:
            NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
        

  # Deploy job
  deploy:
    # Deploy to the github-pages environment
    environment:
      name: github-pages
      url: ${{steps.deployment.outputs.page_url}}
    runs-on: ubuntu-latest
    permissions:
      pages: write
      id-token: write
    needs: build_test
    steps:
      - name: Deploy to Github Pages
        id: deployment
        uses: actions/deploy-pages@v4

  e2e_tests:
    runs-on: ubuntu-latest
    needs: deploy   # ou 'build_test' si tu veux lancer avant deploy
    services:
      docker:
        image: docker:24.0.7
        options: --privileged
        ports:
          - 3000:3000
          - 8000:8000
          - 3306:3306
          - 8080:8080
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Start Docker Compose stack
        run: |
          docker compose -f docker-compose.yml up -d --build
          sleep 30

      - name: Install Node and Cypress dependencies
        uses: actions/setup-node@v3
        with:
          node-version: '18.x'
      - run: |
          cd react_test_app
          npm ci
          npx wait-on http://localhost:3000
          npx wait-on http://localhost:8000

      - name: Run Cypress tests
        run: |
          cd react_test_app
          npx cypress run

      - name: Shutdown Docker Compose
        if: always()
        run: docker compose -f docker-compose.yml down
 
 